{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

<div class="container">
    <div class="row  d-flex align-items-center">
        <div class="col-4">
        </div>
        <div class="col-4">
            <form class="boxLogin shadow" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {# {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %} #}
            
                
                <p class="titleForm mb-3">Se connecter</p>
                <label for="inputUsername">Nom utilisateur</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control shadow-none boxForm" autocomplete="username" required autofocus>
                <br>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control shadow-none boxForm" autocomplete="current-password" required>
                <br>
                <a href="#" class="forgottenPwd">Mot de passe oublie ?</a>
                <br>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                > 
                
                

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <br>
                <div>
                    <button class="buttonCustom log mx-auto shadow-none mt-4" type="submit" name="login">se connecter </button>
                </div>
                <div>
                    <a href="/register" class="buttonCustom log sign mx-auto shadow-none my-4" role="button" data-bs-toggle="button">S'inscrire</a>
                </div>
            

                
                
            </form>
            
        </div>
        
    </div>
</div>

{% endblock %}
