{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-3 boxRegister p-4">
                <p class="titleForm mb-3">S'inscrire</p>

                {{ form_start(registrationForm) }}
                    <div class="textReg"> {{ form_row(registrationForm.username) }}</div>
                    <div class="textReg"> {{ form_row(registrationForm.nom) }}</div>
                   
                    <div class="textReg"> {{ form_row(registrationForm.mail_user) }}</div>
                    <div class="textReg"> {{ form_row(registrationForm.plainPassword.first, {
                        label: 'Password'
                    }) }}</div>
                    <div class="textReg"> {{ form_row(registrationForm.plainPassword.second, {
                        label: 'Repeat Password'   
                    }) }}</div>
                    <div class="textReg"> {{ form_row(registrationForm.agreeTerms) }} </div>

                    <button type="submit" class="buttonCustom shadow-none mt-4 mx-auto">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
    
    
    
{% endblock %}
